* { font-family: 'Montserrat Alternates', sans-serif; 
}
body{
    background-color: #8B0000;
}
h1 {
    color: white;
    padding-top: 20%;
    margin: 0;
}
#titl{
    position: relative;
    background-color: black;
}